﻿@model WebApplicationMVC.Models.ViewModels.WaiterViewModel
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_MinimalLayout.cshtml";
}


<div id="main" class="container">
    <h2>Przyjmij zamówienie</h2>
    <hr />
    <div class="form-group">
        <label>Stolik</label>
        <input type="number" id="table" />
    </div>
    <div class="form-group">
        <label>Dania do wyboru</label>
        @Html.DropDownListFor(a => a.Dish, Model.Menu, new { @id = "selectedDish" })
    </div>
    <div class="form-group">
        <div class="col-6">
            <input type="button" class="btn btn-primary" id="addSingleDish" value="Dodaj danie" />
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <ul id="orderedDishes"></ul>

        </div>
    </div>

    <div class="form-group">
        <button type="button" class="btn btn-primary btn-success" id="acceptOrderButton">Akceptuj zamówienie</button>
    </div>
    @Html.ActionLink("Wstecz", "Index", "Waiter", null, new { @class = "btn btn-default" })
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/waiterAdd.js"></script>
