﻿@{
    ViewData["Title"] = "AddOrderPage";
    Layout = "~/Views/Shared/_MinimalLayout.cshtml";
}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img class="logo" src="~/images/chef-hat.svg"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Index">Waiter Panel</a></li>
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <p>COS TUTAJ NAPISANE</p>
    </div>
</div>
