﻿@model WebApplicationMVC.Models.DTO.OrderDTO

@{
    ViewData["Title"] = "Cancel";
    Layout = "~/Views/Shared/_MinimalLayout.cshtml";
}

<div id="main" class="container">
    <div id="order" class="table-responsive">
        <table class="table table-striped tableFixed">
            <thead class="orderTitle">
                <tr>
                    <th>Stolik @Model.Table</th>
                    <th hidden="hidden" id="orderID">@Model.ID</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dish in Model.Dishes)
                {
                    <tr>
                        <td>@dish.Dish.Name</td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="button" class="btn btn-danger" id="cancelOrder">Potwierdź anulowanie</button>
        @Html.ActionLink("Wstecz", "Index", "Waiter", null, new { @class = "btn btn-success" })
    </div>
</div>

<script src="~/js/helpers.js"></script>
<script src="~/js/cancelOrder.js"></script>
