﻿@model List<WebApplicationMVC.Models.DTO.OrderDTO> 
@{
    ViewData["Title"] = "WaiterPage";
    Layout = "~/Views/Shared/_MinimalLayout.cshtml";
}

<div id="main" class="container">
    <div class="row">
        @Html.ActionLink("Przyjmij zamówienie", "Add", "Waiter", null, new { @class = "btn btn-primary" })
    </div>

    <div class="row">
        <div id="orders" class="table-responsive">
            <table class="table table-striped tableFixed">
                <thead class="orderTitle">
                    <tr>
                        <th>Stolik</th>
                        <th>Zamknij zamówienie</th>
                        <th>Anuluj zamówienie</th>
                        <th>Aktualny status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        <tr>
                            <td>@order.Table</td>
                            <td><button type="button" class="btn btn-success closeButton" id="close-order-@order.ID">Zamknij</button></td>
                            <td><button type="button" class="btn btn-danger cancelOrderButton" id="cancel-order-@order.ID">Anuluj</button></td>
                            <td>@order.DishState.State</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/helpers.js"></script>
<script src="~/js/waiter.js"></script>
