@using Microsoft.AspNetCore.Identity
@inject SignInManager<WebApplicationMVC.Models.Database.IdentityModels.User> SignInManager
@inject UserManager<WebApplicationMVC.Models.Database.IdentityModels.User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-right navbar-nav">
        <li class="nav-item">
            <a id="manage" class="nav-link" title="Manage">Signed in as @UserManager.GetUserName(User)</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="navbar-form" asp-area="" asp-controller="Account" asp-action="LogOut">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-right navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    </ul>
}
