﻿body {
}

.panelOrder {
    margin-top: 25px;
}

.tableFixed {
    background: white;
    border: solid 2px black;
    box-shadow: 0 0 20px #111111;
}

.readyButton {
    background-color: #ADF7B6;
}

.orderTitle {
    background: #f0b67f;
}
