﻿body {
    background: #90ccf4;
    color: black;
    font-family: 'Lato', sans-serif;
}

.centerText {
    text-align: center;
}

hr.underScore {
    border: 1px solid #212121;
}

.Absolute-Center {
    margin: auto;
    position: relative;
    top: 75px;
    left: 0;
    bottom: 0;
    right: 0;
}

    .Absolute-Center.is-Responsive {
        width: 50%;
        height: 50%;
        min-width: 200px;
        max-width: 400px;
        padding: 40px;
        background: #f6f6f6;
        box-shadow: 0 0 20px #111111;
    }

#logo-container {
    margin: auto;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    background-image: url('../images/chef-hat.svg');
    background-repeat: no-repeat;
}
