﻿body {
    background: #90ccf4;
    font-family: 'Lato', sans-serif;
}

.logo {
    max-height: 100%;
    height: 100%;
    width: auto;
}

.panelBox{
    margin-top: 25px;
}

.panelInsideLeft {
    font-size: 8em;
}

.addButton {
    padding: 10%;
    background-color: #ADF7B6;
}

.centerText {
    text-align: center;
}

.cancelButton {
    padding: 10%;
    background-color: #FE5F55;
}

.panelInsideRight {
    padding: 15px 15px 15px;
    background: white;
}

.modifyIcon {
    background-image: url('../images/modify.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.cancelIcon {
    background-image: url('../images/finish.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}