﻿@model List<WebApplicationMVC.Models.DTO.OrderDTO>
@{
    ViewData["Title"] = "CookPage";
    Layout = "~/Views/Shared/_MinimalLayout.cshtml";
}

<div id="orders" class="container">
    @foreach (var order in Model)
    {
        <div id="order-@order.ID" class="table-responsive">
            <table class="table table-striped tableFixed">
                <thead class="orderTitle">
                    <tr>
                        <th>Stolik @order.Table</th>
                        <th>Liczba</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var dish in order.Dishes.GroupBy(x => x.Dish.ID))
                    {
                        <tr>
                            <td>@dish.Select(a => a.Dish.Name).First()</td>
                            <td>@dish.Count()</td>
                        </tr>
                    }
                    <tr>
                        <td><button type="button" class="btn btn-success sendReadyButton" onclick="sendReady(@order.ID)">Zaznacz jako gotowe</button></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/helpers.js"></script>
<script src="~/js/cook.js"></script>       