﻿@{
    ViewData["Title"] = "AddMenu";
    Layout="~/Views/Shared/_MinimalLayout.cshtml";
}
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img class="logo" src="~/images/chef-hat.svg"></a>
          </div>
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Index">Manager Panel</a></li>
              </ul>
              <partial name="_LoginPartial" />
          </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
          <div class="col-sm-3 col-md-2 sidebar">
              <ul class="nav nav-sidebar">
                  <li class="active"><a href="#">Overview<span class="sr-only">(current)</span></a></li>
                  <li><a href="#">Reports</a></li>
                  <li><a href="#">Export</a></li>
              </ul>
              <ul class="nav nav-sidebar">
                  <li><a href="#">Modify Menu</a></li>
                  <li><a href="#">Add Employee</a></li>
              </ul>
          </div>

        



    </div>
