﻿@{
ViewData["Title"] = "AdminPage";
Layout = "~/Views/Shared/_MinimalLayout.cshtml";
}
@model WebApplicationMVC.Models.ViewModels.AdminIndexViewModel

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img class="logo" src="~/images/chef-hat.svg"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Index">Manager Panel</a></li>
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Overview<span class="sr-only">(current)</span></a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Export</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="#">Modify Menu</a></li>
                <li><a href="#">Add Employee</a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="page-header">Employees</h2>
            <div class="row placeholders employee">
                @foreach (var employee in Model.EmployeesList)
                {
                string idName = "Employee-" + employee.ID;

                <div class="col-xs-6 col-sm-3 placeholder" data-toggle="modal" data-target="#@idName">
                    <img src="~/images/cook.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>@employee.PersonalInfo</h4>
                    <span class="text-muted">@employee.Job</span>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="@idName" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">@employee.PersonalInfo</h4>
                            </div>
                            <form class="form-horizontal" asp-controller="Admin" asp-action="EditEmployee" method="post">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Personal ID</label>
                                        <div class="col-sm-10">
                                            <input asp-for="EmployeeID" class="form-control" value="@employee.ID" placeholder="EmployeeID">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Personal data</label>
                                        <div class="col-sm-10">
                                            <input asp-for="PersonalData" class="form-control" value="@employee.PersonalInfo" placeholder="PersonelData">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Email" class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-10">
                                            <input asp-for="Email" class="form-control" id="inputEmail" value="@employee.Email" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Wage</label>
                                        <div class="col-sm-10">
                                            <input asp-for="Wage" type="number" class="form-control" id="inputWage" placeholder="Wage" value="@employee.Wage">
                                            <span asp-validation-for="Wage" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Role</label>
                                        <div class="col-sm-10">
                                            <select asp-for="Role" asp-items="@new SelectList(Enum.GetNames(typeof(AvailableRoles)))" placeholder="Role" class="form-control"></select>
                                            <span asp-validation-for="Role" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                }
            </div>

            <h2 class="sub-header">Current Orders</h2>
            <div class="table-responsive tableOrder">
                <table class="table table-striped centerText">
                    <thead>
                        <tr>
                            <th>Order name</th>
                            <th>Modify</th>
                            <th>End</th>
                            <th>Current status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model.OrdersList)
                        {
                        <tr>
                            <td>@order.ID</td>
                            <td class="modifyIcon"></td>
                            <td class="cancelIcon"></td>
                            <td>@order.DishState</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function sendChanges() {

        sendPost(jakaś data, "/Admin/Index");
        alert('Successfully changed!')
    }

    //pod url można podłożyć ścieżkę do metody kontrolera np. /Waiter/Index
    //data to obiekt javascriptowy
    function sendPost(data, url) {
        let xhttp = new XMLHttpRequest();
        xhttp.open("POST", url, true);
        xhttp.setRequestHeader("Content-Type", "application/json");
        let dataToSend = JSON.stringify(data);
        xhttp.send(dataToSend);
    }
</script>