﻿@model WebApplicationMVC.Models.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Sign in";
    Layout = "~/Views/Account/_LoginRegisterLayout.cshtml";
}

<div class="Absolute-Center">
    <div class="Absolute-Center is-Responsive">
        <div class="centerText">
            <div id="logo-container"></div>
            <p>@ViewData["Title"]</p>
            <section>
                <form id="account" method="post">
                    <h4>Use your local account to sign in.</h4>
                    <hr class="underScore" />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                </form>
            </section>
            <a asp-area="" asp-controller="Account" asp-action="Register">No account? Register now.</a>
        </div>
    </div>
</div>
