﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<WebApplicationMVC.Models.Database.IdentityModels.User> SignInManager
@inject UserManager<WebApplicationMVC.Models.Database.IdentityModels.User> UserManager
@{
    ViewData["Title"] = "My account";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
@if (SignInManager.IsSignedIn(User))
{
<div class="col-12">
    <row>
        <div class="col-4" id="loginName">@UserManager.GetUserName(User)</div>
    </row>
    <row>
        <div class="col-4" id="userEmail"><a href=$"mailto:{@UserManager.GetUserName(User)}">@UserManager.GetUserName(User)</a></div>
    </row>
</div>
}
