﻿@model WebApplicationMVC.Models.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Account/_LoginRegisterLayout.cshtml";
}


<div class="Absolute-Center">
    <div class="Absolute-Center is-Responsive">
        <div class="centerText">
            <div id="logo-container"></div>
            <p>@ViewData["Title"]</p>
                <form asp-route-returnUrl="/Home/Index" method="post">
                    <h4>Create a new account.</h4>
                    <hr class="underScore" />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Surname"></label>
                        <input asp-for="Surname" class="form-control" />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Role"></label>
                        <select asp-for="Role" asp-items="@new SelectList(Enum.GetNames(typeof(AvailableRoles)))" class="form-control"></select>
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
        <a asp-area="" asp-controller="Account" asp-action="Login">Already have an account? Sign in.</a>
        </div>
    </div>
</div>